body {
	background-color: #042060;
	color: white;
}

.panel {
	background-color: #0A0C90;
	color: white;
	padding: 10px;
	width: 80%;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	border-radius: 10px;
	font-family: courier;
	font-style: italic;
	font-size: 20px;
}

.control {

}

